#headb {
  background-color: #282c34;
  color: white;
  font-family: Arial;
  font-size: 0.6rem;
  height: 20vh;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
/* #navb {
  background-color: #696e78;
  color: white;
  padding: 10px;
  font-family: Arial;
  text-align: center;
} */
